<html>

<head>
    <title>Cadastro de Cliente</title>
</head>

<body>

    <div>@ViewBag.Mensagem</div>

    <form action="/customer/create" method="post">

        <input placeholder="Nome" name="nome"/><br/>
        <input placeholder="Email" name="email"/><br/>
        <button>Salvar</button>

    </form>

</body>

</html>